$color--cta: #bc3a3a;

* {
  position: relative;
  box-sizing: border-box;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}



/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.block-group {
  *zoom: 1;
}
.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-group:after {
  clear: both;
}

.block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: -1rem;
  max-width: calc(100% - 2rem);
}

/* Nested grid */
.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important;
  max-width: initial;
}

/* Default block */
.block {
  float: left;
  width: 100%;
  padding: 1rem;
}

html, body, #__blaze-root, main {
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  font-family: "futura-pt",sans-serif;
  font-weight: 300;
  overflow: hidden;
}

html {
  font-size: 30px;
  line-height: 1.5;

  @media only screen and (max-width: 1024px) {
    font-size: 24px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}

body {
  background: url("img/ziggs_urf_comp.jpg") no-repeat fixed;
  background-size: cover;
  color: white;

  body:not(.summoner-page) {
    font-size: 36px;
    line-height: 1.5;

    @media only screen and (max-width: 1024px) {
      font-size: 30px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &.summoner-page {
    background: url("http://eune.leagueoflegends.com/sites/default/files/upload/environmentart-sru-04_1920.jpg") no-repeat fixed;
  }

  //shim
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

.site-title {
  font-family: 'Vollkorn', serif;
  font-size: 2em;
  line-height: 1;
  font-weight: 700;

  .jumbo {
    font-size: 2.15em;
    line-height: 0.75;
  }
}

p {
  margin: 0;
  margin-bottom: 1.5em;
}

a {
  font-family: 'Vollkorn', serif;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid white;
}

.screen--intro {
  min-height: 100%;
  height: 100%;
}

.intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
}

.intro__find-summoner {
  padding: 1em;
  padding-top: 0;

  .input-field {
    display: inline-block;

    label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      padding: 0 0.5em;
      text-transform: uppercase;
      transition: all 150ms;
      font-weight: 700;
    }
    input[type="text"] {
      background: rgba(255,255,255,0.25);
      border: 0;
      padding: 1em 0.5em;
    }
    input:focus + label,
    input:not(.empty) + label {
      top: 0;
      transform: translateY(-100%);
      padding: 0;
      font-size: 75%;
    }
  }

  button[type="submit"] {
    background: $color--cta;
    border: 0;
    padding: 1em 0.5em;
    color: #eee;
    text-transform: uppercase;
    font-weight: 700;
    transition: background 150ms;

    &:hover {
      background: darken( $color--cta, 10% );
    }
  }

  .server-selections {
    position: absolute;
    left: 50%;
    padding: 1em 0;
    opacity: 0;
    transform: translate(-50%, -100%);
    z-index: -1;
    transition: opacity 150ms, transform 450ms;

    &.active {
      opacity: 1;
      transform: translate(-50%, 0);
      z-index: 1;
      transition: opacity 150ms, transform 150ms;
    }
  }
  .server-selection {
    display: inline-block;

    input[type="radio"] {
      display: none;
    }

    label {
      background-color: #999999;
      opacity: 0.75;
      padding: 0 0.5em;
      border-radius: 3px;
      cursor: pointer;
      margin-bottom: 0.5em;
      transition: all 150ms;

      &:hover {
        opacity: 1;
      }
    }

    input:checked + label {
      opacity: 1;
      &:hover {
        opacity: 1;
        cursor: default;
      }
    }
  }
}

.screen--loading-summoner {
  display: none;
  min-height: 100%;
  height: 100%;

  .screen__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
  }
}
.loading-indicator {
  display: inline-block;
  .dot {
    float: left;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
            animation: fx 1000ms ease infinite 0ms;
  }
  .dot:nth-child(2) {
    -webkit-animation: fx 1000ms ease infinite 300ms;
            animation: fx 1000ms ease infinite 300ms;
  }
  .dot:nth-child(3) {
    -webkit-animation: fx 1000ms ease infinite 600ms;
            animation: fx 1000ms ease infinite 600ms;
  }
}

@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




.admin-page {
  input {
    background: transparent;
    border: 1px solid white;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  [type="submit"] {
    background: $color--cta;
    border: 0;
    &:hover {
      background: darken( $color--cta, 10% );
    }
  }
  button {
    height: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    text-transform: uppercase;
    margin-left: 1rem;
    opacity: 0.75;
    display: block;
    transition: opacity 150ms;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}




.summoner-page__loading-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.summoner-page {
  strong {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
  }
}

.summoner-brief {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  font-size: 24px;

  h1 {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    text-transform: initial;
  }

  p {
    margin: 0;
  }
}

.progress-bar {
  height: 1em;

  * {
    height: 100%;
  }
  .marker {
    float: left;
    border-right: 1px solid black;
    min-width: 0.5%;
  }
}
.progress-bar__progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b4d455;
  opacity: 0.5;
  height: 100%;
}

.chart__wrapper {
  margin-top: 10vh;
  width: 40vw;
  left: 50%;
  transform: translateX(-50%);
  transition: left 150ms 500ms;
}
.active.at-a-glance ~ .block-group .chart__wrapper {
  left: 40%;
  transition: left 150ms;
}
.chart__legend {
  position: absolute;
  font-size: 24px;
  top: 50%;
  height: 0;
  overflow: auto;
  transform: translateY(-50%);

  &.active {
    height: 50%;
  }

  li {
    display: block;
  }
}
.chart-scope-options {
  position: absolute;
  top: 25%; //bump into the top of the legend
  transform: translateY(-6rem);

  button {
    height: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    text-transform: uppercase;
    margin-left: 1rem;
    opacity: 0.75;
    display: block;
    transition: opacity 150ms;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
.toggle-legend {
  position: absolute;
  top: 75%;
  left: 0;
  height: 1rem;
  line-height: 1rem;
  margin: 0.5rem 0;
  font-size: 0.75rem;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  text-transform: uppercase;
  margin-left: 1rem;
  opacity: 0.75;
  display: block;
  transition: opacity 150ms;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}
.rbd-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.at-a-glance {
  width: 33%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 1em;
  position: absolute;
  top: 0;
  right: -33%;
  height: 100%;
  overflow: auto;
  transition: right 250ms 150ms;
  z-index: 2;
  & + .toggle-at-a-glance {
    position: absolute;
    top: 1em;
    right: 0;
    transition: right 250ms 150ms;
    z-index: 2;
  }
  &.active {
    right: 0;
    transition: right 250ms 300ms;

    & + .toggle-at-a-glance {
      right: 33%;
      transition: right 250ms 300ms;
    }
  }
}

.champion__tag:not(:last-of-type) {
  &::after {
    content: ' and ';
    font-family: "futura-pt",sans-serif;
    font-weight: 300;
  }
}

.roles-segment-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .segment__label {
    position: absolute;

    .label__content {
      position: absolute;
    }

    &.q1 .label__content {
      left: 0;
      bottom: 0;
    }
    &.q2 .label__content {
      left: 0;
      top: 0;
    }
    &.q3 .label__content {
      right: 0;
      top: 0;
    }
    &.q4 .label__content {
      right: 0;
      bottom: 0;
    }
  }
}

.label__content {
  padding: 0.5em;
  text-transform: uppercase;

}
.segment__label {
  .label__content {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 0;
      height: 2px;
      background-color: white;
      transition: width 150ms 250ms;
    }
  }

  h3 {
    margin: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 150ms, transform 150ms 75ms;
    line-height: 1rem;
    height: 1rem;
    white-space: nowrap;
  }
  .subheading {
    white-space: nowrap;
    display: inline-block;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 150ms, transform 150ms 75ms;
    font-size: 0.75rem;
    line-height: 0.75rem;
    height: 0.75rem;
  }

  &.active {

    h3 {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 150ms 125ms, transform 150ms 125ms;
    }
    .subheading {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 150ms 300ms, transform 150ms 300ms;
    }

    .label__content {
      &::after {
        width: 100%;
        transition: width 150ms;
      }
    }
  }
}



.ct-chart {
  text-align: center;
  z-index: 1;
}
//hack overwriting stroke width
.ct-slice-donut {
  stroke-width: 100px !important;
  transition: stroke-width 150ms;

  &:hover {
    stroke-width: 120px !important;
  }
}

main + footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em;
  font-size: 16px;
  text-align: center;
}
