<head>
  <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="minimal-ui width=device-width, user-scalable=no, initial-scale=1" />
  <title>League of Feed</title>
  <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
  <script src="https://use.typekit.net/qlc7dem.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<template name="mainLayout">
  <script
        src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
        crossorigin="anonymous"></script>
  <main>
    {{>Template.dynamic template=content}}
  </main>
  <footer><strong>League of Feed</strong> isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</footer>
</template>
